

@font-face {
  font-family: 'GoodMatcha';
  src: url('./assets/fonts/Good Matcha.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.logo {
  font-family: 'GoodMatcha', sans-serif;
  color: #EA5F89;
  font-size: 40px;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
  1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.hero-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 48px;
}

.hero-subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
}

.section-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
}

.hero {
  position: relative;
  overflow: hidden;
  z-index: 0; /* importante para o -1 funcionar bem */

}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url('/src/assets/imgs/Hero/IMG_7616.jpeg') center/cover no-repeat;
  opacity: 0.20; /* controla a transparência da imagem */
  pointer-events: none;
  z-index: -1;  /* fica atrás do conteúdo */

}